.about-us-background {
    background-color: rgb(231, 206, 173);
    margin-top: 50px;
}
.about-us-section {
    font-family: 'Pragati Narrow', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.dummy-text {
    h1 {
        font-size: 42px;
    }
}
