.about-us-background {
    // background-color: rgb(231, 206, 173);
    margin-top: 50px;
}
.about-us-section {
    font-family: 'Pragati Narrow', sans-serif;
    height: 300px;
}
.dummy-text {
    h1 {
        font-size: 47px;
        line-height: 44px;
        border-bottom: 3px solid $color-primary;
    }
}
