footer {
    background-color: $black;
    color: white;
    span {
        color: #888;
    }
    a {
        color: #888;
        padding: 5px 20px;
        display: inline-block;
        text-align: center;
        transition: all 0.2s;
        &:hover {
            color: white;
            text-decoration: none !important;
        }
    }
}