footer {
    //position: absolute;
    //bottom: 0;
    background-color: $black;
    color: white;
    .contact-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-container {
            padding: 20px;
            textarea {
                max-width: 401px;
                height: 108px;
            }
            .ajax-loader {
                display: none;
            }
            .wpcf7-response-output {
                border: none;
                margin: 0;
            }
        }
    }
    span {
        color: #888;
    }
    a {
        color: #888;
        padding: 5px 20px;
        display: inline-block;
        text-align: center;
        transition: all 0.2s;
        &:hover {
            color: white;
            text-decoration: none !important;
        }
    }
}
